body{
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

:root{
  --warna1: white;
}

.title{
  text-align: center;
  color: var(--warna1)
}

.image{
  background-image: url(background.jpg);
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 5px 5px;
  height: 130px;
  width: 100px;
}

#p-1{
  color: var(--warna1);
  text-align: left;
  font-size: 15px;
  font-family: 'Arial', cursive;
}

.title-p-2{
  text-align: center;
  font-size: 15;
}

.p-2{
  background-color: aqua;
  text-align: left;
  border: 3px solid black;
  padding: 5px;
  font-size: 13px;
  font-family: 'Arial', cursive;
  color: var(--warna1)
}

.instagram{
  color: blue;
}

.email{
  color: blue;
}

.table{
  background-color: aqua;
  font-family: 'Arial',cursive;
  font-size: auto;
}


h2{
  color: var(--warna1);
}

.kotak-1{
  background-color: black;
}

ol{
  color: var(--warna1);
}

.p-3{
  font-family: 'Arial',cursive;
  font-size: auto;
  color: var(--warnaputih);
}

.p-4{
  font-family: 'Arial',cursive;
}

.p-5{
  font-family: 'Arial',cursive;
  font-size: auto;
  color: var(--warna1);
}

.kejarid{
  color: blue;
}

.wikipedia{
  color: blue;
}

.web-wikrama{
  color: blue;
}
